# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# Uploaded images
uploads/original/*
uploads/results/*

# Model files
models/*.pt
models/*.onnx
models/*.engine

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db